Repository skyfjell/charts, pull requests merged in 2023-01, with the labels that each got.

#95 Naming conventions. Docs.
  charts/common/Chart.yaml
  charts/common/README.md
  charts/common/templates/_cert-manager.tpl
  charts/common/templates/_flux.tpl
  charts/common/templates/_istio.tpl
  charts/common/templates/_kyverno.tpl
  charts/common/templates/_require.tpl
  charts/common/templates/_traefik.tpl
Labels: common

#87 Documentation
  README.md
  charts/kyverno-policies/Chart.lock
  charts/kyverno-policies/README.md
  charts/platform-auth/Chart.lock
  charts/platform-auth/README.md
  charts/platform-auth/examples/values.test.yaml
  charts/platform-auth/values.yaml
  charts/platform-system/Chart.lock
  charts/platform-system/README.md
  charts/platform-system/examples/values.test.yaml
  charts/platform-system/templates/flux/cert-manager/helm-release-cert-manager.yaml
  charts/platform-system/templates/flux/helm-release-config.yaml
  charts/platform-system/values.yaml
  charts/platform-tenant/templates/_certificate.tpl
Labels: documentation, platform-system, platform-auth, common

#98 Correct/normalize keycloak workload labels
  charts/platform-auth/templates/components/keycloak/_keycloak.tpl
  charts/platform-auth/templates/components/keycloak/authorization-policy-gateway-workload.yaml
  charts/platform-auth/templates/components/keycloak/helm-release-keycloak.yaml
Labels: platform-auth

#101 bump common 0.0.8 in platform-auth
  charts/platform-auth/Chart.lock
Labels: platform-auth

#105 ingressRoute -> ingress-route
  charts/common/templates/_traefik.tpl
Labels: common

#104 [common] Testing library templates
  .github/workflows/test-templates.yaml
  charts/common/.helmignore
  charts/common/examples/template.test.yaml
  charts/kyverno-policies/.helmignore
  charts/null/.helmignore
  charts/platform-system-config/.helmignore
Labels: common

#77 [platform-tenant] Tenant alpha release
  charts/platform-tenant/Chart.lock
  charts/platform-tenant/examples/values.test.yaml
  charts/platform-tenant/templates/NOTES.txt
  charts/platform-tenant/templates/_certificate.tpl
  charts/platform-tenant/templates/_helpers.tpl
  charts/platform-tenant/templates/certificate.yaml
  charts/platform-tenant/templates/components/apps/_virtual-service.tpl
  charts/platform-tenant/templates/components/apps/authorization-policy-gateway-custom.yaml
  charts/platform-tenant/templates/components/apps/authorization-policy-gateway.yaml
  charts/platform-tenant/templates/components/apps/authorization-policy.yaml
  charts/platform-tenant/templates/components/apps/gateway.yaml
  charts/platform-tenant/templates/components/apps/request-authentication.yaml
  charts/platform-tenant/templates/components/apps/virtual-service.yaml
  charts/platform-tenant/templates/components/flux/git-repository.yaml
  charts/platform-tenant/templates/components/flux/kustomization.yaml
  charts/platform-tenant/templates/components/kyverno/policy-gateway.yaml
  charts/platform-tenant/templates/components/kyverno/policy-metadata.yaml
  charts/platform-tenant/templates/components/kyverno/policy-scheduling.yaml
  charts/platform-tenant/templates/components/o11y/config-map-grafana.yaml
  charts/platform-tenant/templates/components/oauth2-proxy/_oauth2-proxy.tpl
  charts/platform-tenant/templates/components/oauth2-proxy/authorization-policy.yaml
  charts/platform-tenant/templates/components/oauth2-proxy/helm-release.yaml
  charts/platform-tenant/templates/components/oauth2-proxy/helm-repository.yaml
  charts/platform-tenant/templates/components/oauth2-proxy/ingress-route.yaml
  charts/platform-tenant/templates/components/rbac/cluster-role-binding-kyverno-certificate.yaml
  charts/platform-tenant/templates/components/rbac/cluster-role-kyverno-certificate.yaml
  charts/platform-tenant/templates/components/rbac/cluster-role-tenant.yaml
  charts/platform-tenant/templates/components/rbac/role-binding-deployer.yaml
  charts/platform-tenant/templates/components/rbac/role-binding-group-flux-ro.yaml
  charts/platform-tenant/templates/components/rbac/role-binding-group.yaml
  charts/platform-tenant/templates/components/rbac/role-binding-tenant.yaml
  charts/platform-tenant/templates/components/rbac/role-deployments.yaml
  charts/platform-tenant/templates/components/rbac/role-flux-ro.yaml
  charts/platform-tenant/templates/components/rbac/service-account.yaml
  charts/platform-tenant/templates/flux-git-repository.yaml
  charts/platform-tenant/templates/flux-kustomization.yaml
  charts/platform-tenant/templates/gateway.yaml
  charts/platform-tenant/templates/kyverno-policy.yaml
  charts/platform-tenant/templates/namespace.yaml
  charts/platform-tenant/templates/rbac/role-binding-deployer.yaml
  charts/platform-tenant/templates/rbac/role-binding-group-flux-ro.yaml
  charts/platform-tenant/templates/rbac/role-binding-group.yaml
  charts/platform-tenant/templates/rbac/role-binding-tenant.yaml
  charts/platform-tenant/templates/rbac/role-deployments.yaml
  charts/platform-tenant/templates/rbac/role-flux-ro.yaml
  charts/platform-tenant/templates/service-account.yaml
  charts/platform-tenant/values.yaml
Labels: platform-tenant

#122 Traefik middleware
  charts/platform-auth/templates/components/proxy/_proxy.tpl
  charts/platform-tenant/templates/components/oauth2-proxy/ingress-route.yaml
  charts/platform-tenant/templates/components/oauth2-proxy/middleware.yaml
Labels: platform-tenant

#128 [all] Release 0.1.0
  charts/kyverno-policies/Chart.lock
  charts/kyverno-policies/Chart.yaml
  charts/platform-auth/Chart.lock
  charts/platform-auth/Chart.yaml
  charts/platform-system-config/Chart.lock
  charts/platform-system-config/Chart.yaml
  charts/platform-system/Chart.lock
  charts/platform-system/Chart.yaml
  charts/platform-tenant/Chart.yaml
Labels: platform-system, kyverno-policies, platform-tenant, platform-auth, platform-system-config

#130 Doc some oauth2-proxy values
  charts/platform-tenant/templates/components/oauth2-proxy/_oauth2-proxy.tpl
Labels: platform-tenant

#129 platform-system dependencies
  charts/platform-system/Chart.yaml
  charts/platform-system/values.yaml
Labels: platform-system

#131 add privatebin
  charts/platform-factory/Chart.lock
  charts/platform-factory/Chart.yaml
  charts/platform-factory/examples/values.test.yaml
  charts/platform-factory/templates/NOTES.txt
  charts/platform-factory/templates/_helpers.tpl
  charts/platform-factory/templates/_repositories/helm-repository-privatebin.yaml
  charts/platform-factory/templates/components/privatebin/_privatebin.tpl
  charts/platform-factory/templates/components/privatebin/authorization-policy-gateway-http.yaml
  charts/platform-factory/templates/components/privatebin/authorization-policy-gateway-workload.yaml
  charts/platform-factory/templates/components/privatebin/certificate-privatebin.yaml
  charts/platform-factory/templates/components/privatebin/gateway-privatebin.yaml
  charts/platform-factory/templates/components/privatebin/helm-release-privatebin.yaml
  charts/platform-factory/templates/components/privatebin/virtual-service-privatebin.yaml
  charts/platform-factory/templates/namespace.yaml
  charts/platform-factory/templates/tests/test-connection.yaml
  charts/platform-factory/values.yaml
Labels: platform-factory
